<body class="bg-dark">

<!-- Forum Header -->
<header class="container-fluid header-bg py-5">
  <div class="container text-center">
    <h1 class="mb-4 display-4 text-uppercase font-weight-bold header-text"></h1>
    <p class="lead mb-0 font-weight-normal text-white"></p>
  </div>
</header>

<div class="container mt-5">

  <!-- Filter and Post Creation Section -->
  <div class="row align-items-center mb-5">
    <div class="col-lg-6">
      <div class="input-group">
        <!-- Place your filter input here if needed -->
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-end align-items-center">
      <!-- Buttons Group -->
      <div class="btn-group" role="group">
        <button class="btn btn-primary me-3" style="background-color: #c14047; border-color: #c14047;" (click)="redirectToPostForm()">Create Post</button>
        <button class="btn btn-primary me-3" style="background-color: #c14047; border-color: #c14047;" (click)="deleteSelectedPosts()">Delete Post</button>
        <button class="btn btn-primary" style="background-color: #c14047; border-color: #c14047;" (click)="pinMostLikedPost()">Pin Post</button>
      </div>
    </div>
  </div>

  <!-- Posts Section -->
  <div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-primary me-3" style="background-color: #c14047; border-color: #c14047;" (click)="toggleCheckboxes()">
      <span *ngIf="showCheckboxes">Hide Checkboxes</span>
      <span *ngIf="!showCheckboxes">Show Checkboxes</span>
    </button>
  </div>

  <div class="form-check">
    <div *ngFor="let post of posts" class="card mb-4" [ngClass]="{ 'most-liked-post': post.post_id === mostLikedPostId }">
      <!-- Pin icon -->
      <span *ngIf="post.post_id === mostLikedPostId" class="pin-icon">
          <i class="fas fa-thumbtack"></i>
        </span>
      <input class="form-check-input" *ngIf="showCheckboxes" type="checkbox" [(ngModel)]="selectedPosts[post.post_id]">
      <div class="card-body">
        <!-- Content of the post -->
        <h3 class="card-title mb-3">{{ post.content }}</h3>
        <!-- Likes, Dislikes, and Share buttons -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="like-count">
            <p class="text-muted mb-0">
              Likes: <span class="text-primary">{{ post.likes }}</span>
              Dislikes: <span class="text-danger">{{ post.dislikes }}</span>
            </p>
          </div>
          <div class="like-buttons">
            <!-- Like button -->
            <button class="btn btn-sm btn-primary me-2" (click)="likePost(post.post_id)">
              <i class="far fa-thumbs-up"></i> Like
            </button>
            <!-- Dislike button -->
            <button class="btn btn-sm btn-danger me-2" (click)="dislikePost(post.post_id)">
              <i class="far fa-thumbs-down"></i> Dislike
            </button>
            <!-- Share button -->
            <button class="btn btn-sm btn-outline-dark" (click)="shareToDiscord(post.post_id)" #shareButton>
              <i class="fab fa-discord"></i> Share on Discord
            </button>
            <app-pop-up *ngIf="emailSent"></app-pop-up>


          </div>
        </div>
        <hr class="my-3">
        <!-- Comments Section -->
        <div class="comments">
          <h4 class="mb-3">Comments:</h4>
          <ul class="list-unstyled">
            <!-- Nested Comments -->
            <ng-container *ngFor="let comment of post.comments">
              <li class="comment mb-4">
                <div class="comment-content">
                  <p>{{ comment.content }}</p>
                </div>
                <div class="nested-comments">
                  <ul class="list-unstyled">
                    <!-- Nested comments will go here -->
                  </ul>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
        <!-- Comment input -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Add a comment..." (keyup.enter)="addComment($event, post.post_id)">
          <button class="btn btn-outline-secondary" type="button" (click)="addComment($event, post.post_id)">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-secondary" style="background-color: #c14047; border-color: #c14047;" (click)="goGoToTopicPage()">Go Back</button>

</div>
</body>
